.chat-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  //background-color: #dfdbe5;
  //background-image: url("/img/tic-tac-toe.svg");
}

.chat-messages {
  flex-grow: 1;
  height: 0;
  overflow-y: auto;
}
