@import "~antd/dist/antd.less";

.login-form-forgot {
  float: start;
}

.ant-col-rtl .login-form-forgot {
  float: end;
}

.login-form-button {
  width: 100%;
}
.login-form-sides-container {
  > div {
    height: 70vh;
    //background: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.register-in-login {
  h2,
  h3,
  h4,
  h5 {
    color: white !important;
  }
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.2),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://media.istockphoto.com/photos/women-in-bikinis-laying-on-deck-picture-id129299874?k=6&m=129299874&s=612x612&w=0&h=3ELnlZ90wL17MBVulzm2tSFzjuo7IHpH7HZjKY7eBxc=");
  background-color: @primary-color;
}
